body {
  background-color: #fcfcfc;
}
.modal-box{
  width:600px;
  height:auto;
  margin:0 auto;
  background-color: #fff;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  border: 1px solid #999;
  border: 1px solid rgba(0,0,0,.2);
  border-radius: 6px;
  outline: 0;
  -webkit-box-shadow: 0 3px 9px rgba(0,0,0,.5);
  box-shadow: 0 3px 9px rgba(0,0,0,.5)
}
.avatar-view {
  display: block;
  margin: 15% auto 5%;
  height: 220px;
  width: 220px;
  border: 3px solid #fff;
  border-radius: 5px;
  box-shadow: 0 0 5px rgba(0,0,0,.15);
  cursor: pointer;
  overflow: hidden;
}

.avatar-view img {
  width: 100%;
}
.avatar-upload {
  overflow: hidden;
}

.avatar-upload label {
  display: block;
  float: left;
  clear: left;
  width: 100px;
}

.avatar-upload input {
  display: block;
  // margin-left: 110px;
}

.avatar-alert {
  margin-top: 10px;
  margin-bottom: 10px;
}
.avatar-box{
  margin-top:15px;
  width:100%;
  height:auto;
}
.avatar-wrapper {
  display:inline-block;
  vertical-align: top;
  width: 480px;
  height: 300px;
  box-shadow: inset 0 0 5px rgba(0,0,0,.25);
  background-color: #fcfcfc;
  overflow: hidden;
}

.avatar-wrapper img {
  display: block;
  height: auto;
  max-width: 100%;
}
.avatar-btns{
  display:inline-block;
  vertical-align: top;
  margin-left: 20px; 
  width:172px;
  height:172px;
}
.avatar-preview {
  display:inline-block;
  vertical-align: top;
  width:174px;
  height:172px;
  border: 1px solid #eee;
  border-radius: 4px;
  background-color: #fff;
  box-sizing: border-box;
  overflow: hidden;
}

.avatar-preview:hover {
  border-color: #ccf;
  box-shadow: 0 0 5px rgba(0,0,0,.15);
}

.avatar-preview img {
  width: 100%;
}
.avatar-scale{
  margin:16px 0 25px;
  padding:13px 7px;
  width: 174px;
  height: 40px;
  border-radius: 3px;
  background-color: #f8f8f8;
  box-sizing:border-box;
}
.scale-range{
  width:100%;
  height:2px;
  background:#dedede; 
  -webkit-appearance: none;
  border-radius: 10px;
  // box-show:2px 2px 2px rgba(0,0,0,.2);
}
input[type="range"]:focus {
  outline: none;
}
input[type="range"]::-webkit-slider-runnable-track
 {
  width: 100%;
  height: 2px;
  border-radius: 10px;
  background: #dedede;
}
input[type="range"]::-webkit-slider-thumb
 {
  -webkit-appearance: none;
  margin-top: -7px;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background: #fff;
  box-shadow: 2px 2px 2px rgba(0,0,0,.2);
}
.btn-block{
  width: 174px;
  height: 45px;
  border-radius: 3px;
  border:1px solid #41b74c;
  color:#fff;
  background-color: #41b74c;
  cursor:pointer;
}

.loading {
  display: none;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: #fff url("../images/loading.gif") no-repeat center center;
  opacity: .75;
  filter: alpha(opacity=75);
  z-index: 20140628;
}

.custom-modal{
  position:relative;
  display:block;
  overflow:visible;
  opacity:1;
}
